@model ShowroomManagement.Models.VehicleRegistration

<h2>Register a Vehicle</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="VehicleId">Vehicle</label>
        <select asp-for="VehicleId" class="form-control" asp-items="ViewBag.Vehicles"></select>
    </div>
    <div class="form-group">
        <label asp-for="RegistrationNumber"></label>
        <input asp-for="RegistrationNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RegistrationDate"></label>
        <input asp-for="RegistrationDate" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OwnerName"></label>
        <input asp-for="OwnerName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
