@model ShowroomManagement.Models.VehicleRegistration

<h2>Vehicle Registration Details</h2>

<dl class="row">
    <dt class="col-sm-3">Vehicle</dt>
    <dd class="col-sm-9">@Model.Vehicle?.Name</dd>

    <dt class="col-sm-3">Registration Number</dt>
    <dd class="col-sm-9">@Model.RegistrationNumber</dd>

    <dt class="col-sm-3">Registration Date</dt>
    <dd class="col-sm-9">@Model.RegistrationDate.ToShortDateString()</dd>

    <dt class="col-sm-3">Owner Name</dt>
    <dd class="col-sm-9">@Model.OwnerName</dd>
</dl>

<a class="btn btn-secondary" onclick="window.history.back();">
    <i class="bi bi-arrow-left"></i> Go Back
</a>
