@{
    ViewData["Title"] = "Access Denied";
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Access Denied!</h4>
    <p>You do not have permission to view this page.</p>
</div>
